@Html.ValidationSummary(true)
    <!--блок информации о документа из таблицы doc-->
    <div> 
        <table class="table table-hover" id="sample-table-2">
            <thead>
                <tr>
                    <th class="center">Наименование</th>
                    <th>Описание</th>
                    <th>Отправитель</th>
                    <th>Получатель</th>
                    <th class="hidden-xs">Дата создания</th>
                    <th>Дата изменения</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!--<td><input type="text" maxlength="50" name="name_doc" readonly value=@ViewBag.listName></td>-->
                <!-- <td><p>@ViewBag.document.author</p></td>-->
                <!-- <td><p>@ViewBag.document.recipient</p></td>-->
                <tr>
                    <td class="center">@ViewBag.document.name_doc</td>
                    <td class="hidden-xs">@ViewBag.document.description</td>
                    <td class="hidden-xs">@ViewBag.author</td>
                    <td class="hidden-xs">@ViewBag.recipient</td>
                    <td>@ViewBag.document.data_of_create</td>
                    <td>@ViewBag.document.date_of_modify</td>
                    <td class="hidden-xs"><i class="fa fa-cloud-download"></i> <a href="/Doc/DowloadDoc?id=@ViewBag.document.id_doc">Скачать</a></td>
                    <td class="hidden-xs"><i class="fa fa-remove"></i> <a href="/Doc/DeleteDoc?id=@ViewBag.document.id_doc">Удалить</a></td>
                    <td class="hidden-xs"><i class="fa fa-cog"></i> <a href="/Doc/EditDoc?id=@ViewBag.document.id_doc">Изменить</a></td>
                </tr>

            </tbody>
        </table>

    </div>
    <!--блок напоминаний-->
    <div>

    </div>
    @Html.Action("Index", "Comments", new { id = ViewBag.document.id_doc })
    <div>

    </div>

