@Html.Partial("nav")

<div class="main-content">
    <div class="wrap-content container" id="container">
        <section id="page-title">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="mainTitle">Список отправленных документов</h1>
                    <span class="mainDescription">описание</span>
                </div>
            </div>
        </section>

        <div class="container-fluid container-fullw bg-white">
            <center>
                <a class="btn btn-wide btn-success" href="/Doc/AddDoc">Добавить документ</a>
                <a class="btn btn-wide btn-primary" href="/Doc/ViewDoc">Все</a>
                <a class="btn btn-wide btn-success" href="/Doc/ViewSentDoc">Отправленные</a>
                <a class="btn btn-wide btn-primary" href="/Doc/ViewReceivedDoc">Полученные</a>
            </center>
            <div class="col-md-12">
                <table class="table table-hover" id="sample-table-1">
                    <thead>
                        <tr>
                            <th class="center">Наименование</th>
                            <th>Описание</th>
                            <th class="hidden-xs">Дата создания</th>
                            <th>Дата изменения</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var b in ViewBag.listDoc)
                        {
                            <tr>
                                <td class="center"><a href="/Doc/DocDetails?id=@b.id_doc">@b.name_doc</a></td>
                                <td class="hidden-xs">@b.description</td>
                                <td>@b.data_of_create</td>
                                <td>@b.date_of_modify</td>
                                <td class="hidden-xs"><i class="fa fa-cloud-download"></i> <a href="/Doc/DowloadDoc?id=@b.id_doc">Скачать</a></td>
                                <td class="hidden-xs"><i class="fa fa-remove"></i> <a href="/Doc/DeleteDoc?id=@b.id_doc">Удалить</a></td>
                                <td class="hidden-xs"><i class="fa fa-cog"></i> <a href="/Doc/EditDoc?id=@b.id_doc">Изменить</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    @Html.Action("Index", "BigChat")
</div>