<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="app">
        <!-- sidebar -->
        <div class="sidebar app-aside" id="sidebar">
            <div class="sidebar-container perfect-scrollbar">
                <nav>
                    <div class="navbar-title">
                        <span>Навигация</span>
                    </div>
                    <ul class="main-navigation-menu">
                        <li class="active open">
                            <a href="index.html">
                                <div class="item-content">
                                    <div class="item-media">
                                        <i class="ti-home"></i>
                                    </div>
                                    <div class="item-inner">
                                        <span class="title"> ТУТ НАКИДАТЬ ГИПЕРСЫЛОК </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="navbar-title">
                        <span>Меню для админа</span>
                    </div>
                    <ul class="folders">
                        <li>
                            <a href="#">
                                <div class="item-content">
                                    <div class="item-media">
                                        <span class="fa-stack"> <i class="fa fa-square fa-stack-2x"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
                                    </div>
                                    <div class="item-inner">
                                        <span class="title"> Админка </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="wrapper">
                        <a href="documentation.html" class="button-o">
                            <i class="ti-help"></i>
                            <span>Документация</span>
                        </a>
                    </div>
                    <!-- end: DOCUMENTATION BUTTON -->
                </nav>
            </div>
        </div>
        <!-- / sidebar -->
        @RenderBody()

        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
            <script>
                jQuery(document).ready(function () {
                    Main.init();
                    Index.init();
                });
            </script>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
