@model MashZavod.Models.AccountLoginModel
@{
    ViewBag.Title = "Вход";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
</head>

<body>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true)
        <div class="row">
            <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
                <div class="logo margin-top-30">
                    <img width="50" height="50" src="~/Content/ффф.gif" alt="ПИны" />
                </div>
                <div class="box-login">
                    <form class="form-login" action="index.html">
                        <fieldset>
                            <legend>
                                Войти в систему
                            </legend>
                            <p>
                                Пожалуйста, введите свои данные
                            </p>
                            <div class="form-group">
                                <span class="input-icon">
                                    <input type="text" class="form-control" name="Login" placeholder="Логин">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                            <div class="form-group form-actions">
                                <span class="input-icon">
                                    <input type="password" class="form-control password" name="Password" placeholder="Пароль">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary pull-right">
                                    Войти <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                        </fieldset>
                    </form>
                    <div class="copyright">
                        &copy; <span class="text-bold text-uppercase"> ПИн-114</span> <span> - Декабрь 2017</span>
                    </div>
                </div>
            </div>
        </div>

    }

    <footer>
        <script>
            jQuery(document).ready(function () {
                Main.init();
                Index.init();
            });
        </script>

    </footer>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")





</body>
</html>
